* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  color: #000;
  -webkit-box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-top: 10px;
  -ms-grid-columns: 2fr 400px;
      grid-template-columns: 2fr 400px;
  -ms-grid-rows: 80px auto;
      grid-template-rows: 80px auto;
}

.header .search-el {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 25px 0 0 25px;
}

.header .input-el {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 30px;
  width: 80%;
  padding-left: 15px;
  background-color: #e9f1da;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  margin: 20px 0 0 60px;
}

.header .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-right: 90px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .notification .avatar {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  background-color: yellowgreen;
}

.header .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: 90px auto;
      grid-template-columns: 90px auto;
}

.header .profile > main {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 15px;
}

.header .profile .avatar2 {
  width: 80px;
  height: 80px;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%;
  background-color: yellowgreen;
}

.header .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-right: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .btn-group > button {
  width: 90px;
  height: 40px;
  background-color: #164e63;
  color: #fff;
  border-radius: 20px;
  border: none;
}

.sideNav-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  height: 100vh;
  color: #fff;
  -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);
  background-color: #164e63;
  padding-left: 40px;
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 2fr;
      grid-template-rows: auto 1fr 2fr;
}

.sideNav-bar .title {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 30px 50px;
      grid-template-columns: 30px 50px;
}

.sideNav-bar .title h2 {
  font-size: 2rem;
}

.sideNav-bar .title > svg {
  padding-top: 10px;
}

.sideNav-bar .title > svg path {
  fill: #fff;
}

.sideNav-bar .menu {
  height: 200px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 30px 50px;
      grid-template-columns: 30px 50px;
}

.sideNav-bar .config {
  margin-top: 50px;
  height: 100px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 30px 50px;
      grid-template-columns: 30px 50px;
}

.main-content {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  overflow: auto;
  background: #edf3e1;
  padding-left: 40px;
  padding-top: 10px;
}

.main-content p {
  font-weight: 400;
  color: #777;
}

.main-content .project {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 50px (300px)[3];
      grid-template-rows: 50px repeat(3, 300px);
}

.main-content .project .projects {
  height: 290px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  border-left: 10px solid yellowgreen;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.main-content .project .projects .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 250px;
  margin-top: 100px;
}

.main-content .project .projects .options span {
  cursor: pointer;
}

.main-content .project .projects > p {
  width: 300px;
}

.main-content .project > h3 {
  grid-column: span 2;
  margin-top: 30px;
}

.main-content .main-col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 450px 50px 430px;
      grid-template-rows: 70px 450px 50px 430px;
}

.main-content .main-col2 .announcement {
  width: 350px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.main-content .main-col2 .announcement > div {
  padding-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #777;
}

.main-content .main-col2 .announcement :last-child {
  border: none;
}

.main-content .main-col2 .trending-title {
  margin-top: 50px;
}

.main-content .main-col2 > h3 {
  grid-column: span 2;
  margin-top: 30px;
}

.main-content .main-col2 .trending {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  width: 350px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  gap: 5px;
}

.main-content .main-col2 .trending main :first-child {
  font-weight: 500;
  color: #000;
}

.main-content .main-col2 .trending main :first-child span {
  font-weight: 400;
  color: #777;
}

.main-content .main-col2 .trending_avatar {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  background-color: yellowgreen;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  height: 100vh;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 2fr;
      grid-template-columns: 320px 2fr;
  -ms-grid-rows: 200px auto;
      grid-template-rows: 200px auto;
  height: 100vh;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-28 {
  font-size: 28px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-light {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}
/*# sourceMappingURL=main.css.map */